$font-family-primary:'Barlow Condensed', sans-serif;
$font-family-secondary:'Barlow', sans-serif;
$font-family-neutral:'Bellefair', serif;
$text-color-primary: hsl(231, 77%, 90%);
$text-color-secondary: #fff;
