.crew__container {
    background: url('../starter-code/assets/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    .crew__wrapper {
        .crew__img {
            margin-top: 30px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .crew__content {
            margin-top: 30px;
                .crew__links{
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    .crew__link {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        background-color: rgba(255,255,255,0.17);
                    }
                
                    .crew__link:hover {
                        background-color: rgba(255,255,255,0.5);
                        
                    }
                
                    .active {
                        background-color: rgba(255,255,255,1) !important;
                    }
                }
                .crew__links.desktop {
                    display: none;
                }
                    
                    .crew__desc {
                        letter-spacing: 2px;
                        text-align: center;
                        margin-top: 60px;
                        h6 {
                            font-size: 1rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            color: $text-color-primary;
                            font-family: $font-family-neutral;
                            
                        }
                        h2 {
                            color: $text-color-secondary;
                            font-family: $font-family-neutral;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            margin: 15px 0;
                        }
                    }
        }
    }
}


@media screen and (min-width:601px) {
    .crew__container {
        background: url('../starter-code/assets/crew/background-crew-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        .crew__wrapper {
            
            .crew__img {
                display: flex;
                justify-content: center;
                img {
                    width: 450px;
                }
            }
            .crew__content {
                        .crew__desc {
                            h6 {
                                font-size: 1.5rem;
                                
                            }
                            h2 {
                                font-size: 2.1rem;
                            }
                            p {
                                font-size: 1.5rem;
                            }
                        }
            }
        }
    }
}

@media screen and (min-width:901px) {
    .crew__container {
        .crew__wrapper {
            display: flex;
            flex-direction: row-reverse;
            .crew__img {
               img {
                // width: 500px;
               }
            }
            .crew__content {
                .crew__links.mobile {
                    display: none;
                }
                .crew__links.desktop {
                    display: flex;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .crew__container {
        background: url('../starter-code/assets/crew/background-crew-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        .crew__wrapper {
            .crew__img {
                justify-content: start;
                flex: 1;
                img {
                    width: 100%;
                }
            }
            .crew__content {
                
            }
        }
    }
}