@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600;700&family=Barlow:wght@300;400;700&family=Bellefair&display=swap');
@import './styles/variables';
@import './styles/Nav.module.scss';
@import './styles/Home.module.scss';
@import './styles/Destination.module.scss';
@import './styles//Crew.module.scss';
@import './styles//Technology.module.scss';
%style-shared {
    color: $text-color-primary;
    font-family: $font-family-secondary;
  }
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-size: 1.13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a,button {
    cursor: pointer;
    transition: .5s ease-in-out;
}

a {
    text-decoration: none;
}
button {
    border: 0;
    outline: 0;
} 

li {
    @extend %style-shared;
    list-style: none;
    text-transform:uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}
p {
    @extend %style-shared;
    font-weight: 300;
    line-height: 22px;
    font-family: $font-family-neutral;
}
h1 {
    color: $text-color-secondary;
}
h3 {
    color: $text-color-primary;
}

.container {
    padding: 100px 24px 50px;
}

@media screen and (min-width:601px) {
    .container{
        padding: 130px 48px 0;
    }
}

@media screen and (min-width:1200px) {
    .container{
        padding: 200px 120px 0;
    }
}

