// google font
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600;700&family=Barlow:wght@300;400;700&family=Bellefair&display=swap');

// importing modules
@import './styles/variables';
@import './styles/Nav.module.scss';
@import './styles/Home.module.scss';
@import './styles/Destination.module.scss';
@import './styles//Crew.module.scss';
@import './styles//Technology.module.scss';

// reset
%style-shared {
    color: $text-color-primary;
    font-family: $font-family-secondary;
  }

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-size: 1.13rem;
    width: 100%;
}

a,button {
    cursor: pointer;
    transition: .5s ease-in-out;
}

a {
    text-decoration: none;
}
button {
    border: 0;
    outline: 0;
} 

li {
    @extend %style-shared;
    list-style: none;
    text-transform:uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}
p {
    @extend %style-shared;
    font-weight: 300;
    line-height: 22px;
    font-family: $font-family-neutral;
}
h1 {
    color: $text-color-secondary;
}
h3 {
    text-align: center;
    color: $text-color-secondary;
    text-transform: uppercase;
    font-family: $font-family-neutral;
    font-weight: 400;
    span{
        color: $text-color-primary;
        margin-right: 20px;
    }
}

.active {
    border-bottom: 4px solid white;
    font-weight: 700;
}

.container {
    padding: 100px 24px 70px;
}

@media screen and (min-width:601px) {
    .container{
        padding: 150px 48px 50px;
    }
}
@media screen and (min-width:901px) {
    .container{
        padding: 150px 48px 50px;
    }
    h3 {
        text-align: start;
        font-size: 35px;
    }
}

@media screen and (min-width:1200px) {
    .container{
        padding: 150px 120px 100px;
    }
}

